#header.header
	nav
		ul#menu
			li(data-menuanchor="page1")
				a.selected(href="#page1") OUR TEAM
					span.underline
			li(data-menuanchor="page2")
				a(href="#page2") GROUP
					span.underline
			li(data-menuanchor="page3")
				a(href="#page3") PROJECTS
					span.underline
			li(data-menuanchor="page4")
				a(href="#page4") TIMELINE
					span.underline
			li
				a.mail(href="#") CONTACT US