.section.index
	#awwwards.right.white
		a(href='#' target='_blank' title='Our Github')
	.content
		h2
			span 大家好,我们是由横跨两个国家的大学生组成的前端攻城狮之队。青春,激情,勇敢是我们每个队员的代名词。
		.group
			a.gp-n(href="#" title="帅帅的队长")
				span.name Lemoo
				.detail#con-0
					span 我你爹我我不挖宝服务拔无缝
			a.gp-n(href="#" title="霸气的宇哥")
				span.name Yu
				.detail#con-1
					span 会设计大楼的前端爱好者，希望用技术改变世界的工程师
			a.gp-n(href="#" title="稚嫩的小白")
				span.name Jolly
				.detail#con-2
					span 打你挖鼻我报的我
			a.gp-n(href="#" title="")
				span.name Richard
				.detail#con-3
					span 等我再不挖宝对微博的
			a.gp-n(href="#" title="")
				span.name Pan
				.detail#con-4
					span 弄win迪欧瓦不能的无奈