.slide.yo-3
	.yo-title#yo-title
		canvas#broken-glass
		h1#logo-title
			| Cease to struggle and you cease to live.
			br
			| Jolly
	.yo-Box
		ul.item-list
			li.first.viewport-flip
				.flip-box.flip.out
					canvas#Cvs
				.flip-box.flip
					h1 Personal Information
			li.viewport-flip
				.flip-box.flip.out
					._yo3skill#_yo3skill
				.flip-box.flip
					h1
						| Professional
						br
						| Skills
			li.last.viewport-flip
				.flip-box.flip.out
					#mainDiv
						#content
							#code
								span.comments /* I am a NorthWest University student from China.
								br
								span.space
									span.comments * I am also a Front-end enthusiast.so the code is showing my experience to you. */
								br
								| Boy i = 
								span.keyword new 
								| Boy({
								span.string date:'1995-12-03'
								| ,
								span.string name:'高磊'
								| });
								br
								span.comments // September 2013, I started my college life.
								br
								| i.age = 18;
								br
								| i.computer = 
								span.keyword null
								| ;
								br
								span.comments // April 2014, I own my computer
								br
								| i.startCoding();
								br
								span.comments // August 2014, I met Front-end.
								br
								span.keyword var 
								| mf = [
								span.string 'HTML'
								| ,
								span.string 'CSS'
								| ,
								span.string 'JAVASCRIPT'
								| ];
								br
								| i.love(mf);
								br
								span.comments // It's part of my life
								br
								span.keyword $
								| (
								span.string 'body'
								| ).append(Jquery,Bootstrap,angularJS,createJs);
								br
								span.comments // I will always learn and love it unless it not exist.
								br
								span.keyword var 
								| notExist = 
								span.keyword false
								| ;
								br
								span.keyword while
								| (!notExist) {
								br
								span.placeholder i.learn();
								br
								span.placeholder notExist = 
								span.keyword new 
								| Date() == 
								span.keyword null
								| ? 
								span.keyword true 
								| :
								span.keyword  false
								| ;
								br
								| }
				.flip-box.flip
					h1
						| College
						br
						| Life