#header.header
  .content
    ul#sdt_menu.sdt_menu
      li
        a(href='#page1') 
          img(src='../img/3.jpg', alt='') 
          span.sdt_active
          span.sdt_wrap
            span.sdt_link About US
            span.sdt_descr Get to Know US
      li
        a(href='#page2')  
          img(src='../img/4.jpg', alt='') 
          span.sdt_active
          span.sdt_wrap
            span.sdt_link Photos
            span.sdt_descr We like to photograph
      li
        a(href='#page3')  
          img(src='../img/5.jpg', alt='') 
          span.sdt_active
          span.sdt_wrap
            span.sdt_link Blog
            span.sdt_descr We Write About Design
      li
        a(href='#page4') 
          img(src='../img/6.jpg', alt='') 
          span.sdt_active
          span.sdt_wrap
            span.sdt_link Projects
            span.sdt_descr We like to Code