.slide 
  #pyContent
    span.pyProduct 潘媛
    ul 
      li.frist
        span WHAT I WANT TO DO
      li.second  
        span WHAT I LIKE
      li.three
        span WHAT I THINK THE TEAM
      li.four
        span WHAT DO I WANT TO BE